.institucional__contato {
    font-size: 1.2rem;
    line-height: 1.8;

    margin-top: 2rem;
}

.institucional__contato-telefone {
    line-height: normal;
}

.institucional__contato-email {
    color: var(--fonte-link);
    text-decoration: underline;
    display: block;
}

@media screen and (min-width: 768px) {
    .institucional__contato-email {
        display: inline-block;
    }
}

@media screen and (min-width: 1024px) {
    .institucional__contato-email {
        display: block;
    }
}